{% extends "themes/base.html.twig" %}

{% block title %}A propos de nous{% endblock %}

{% block description %}A propos de nous. Livraison gratuite à partir de 25€. Vos articles à petits prix : produites electronique, ordinateurs, portables et encore autres produites!
{% endblock %}

{% block keywords %}A propos de nous, ElectroTech, electronique, portable, ordinateur, Produites électroménagers{% endblock %}

{% block main %}
    <h1 class="display-5 text-center my-3">Qui sommes-nous?</h1>
{% endblock %}