{% extends "themes/base.html.twig" %}

{% block title %}Mon panier{% endblock %}

{% block description %}Mon panier. Livraison gratuite à partir de 25€. Vos articles à petits prix : produites electronique, ordinateurs, portables et encore autres produites!
{% endblock %}

{% block keywords %}Mon panier, ElectroTech, electronique, portable, ordinateur, Produites électroménagers{% endblock %}

{% block main %}
    <h1 class="display-5 text-center my-3">Mon panier</h1>
{% endblock %}