{% extends "themes/base.html.twig" %}

{% block title %}Page d'accueil{% endblock %}

{% block description %}Achat et vente en ligne parmi des millions de produits en stock. Livraison gratuite à partir de 25€. Vos articles à petits prix : produites electronique, ordinateurs, protaple et encore autres produites!
{% endblock %}

{% block keywords %}ElectroTech, electronique, portable, ordinateur, Produites électroménagers{% endblock %}

{% block main %}
    <h1 class="display-5 text-center my-3">Hello world</h1>
{% endblock %}