{% extends "themes/base.html.twig" %}

{% block title %}En attende de vérification du compte par email - ElectroTech{% endblock %}

{% block description %}En attende de vérification du compte par email
{% endblock %}

{% block keywords %}ElectroTech, electronique, portable, ordinateur, Produites électroménagers{% endblock %}

{% block main %}
    <h1 class="display-5 text-center my-3">En attende</h1>
{% endblock %}